html {
  background-color: #fbeaff;
}

body {
  margin: 0;
  padding: 5%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiGridList-root > * {
  flex: 1 1 160px;
  margin: 10px;
}
